
.container-fluid, .container {
    margin-top: 92px !important;
}

.container {
    max-width: 1200px !important;
}

/** ASIDE NAVBAR **/

.dash-sidebar {
    background: #084B7D;
    /* min-height: 100vh; */
    height: 100%;
    position: fixed;
    max-width: 320px;
    /* max-height: 571px; */
    overflow-y: auto;
    top: 95px;
    left: -320px;
    z-index: 20;
}

#navbarSupportedContent ul li a {
    font-size: 14px !important;
}

.dash-sidebar-nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.dash-sidebar-nav li {
    display: block;
    width: 100%;
}

.dash-sidebar-nav li a {
    display: block;
    width: 100%;
    padding: 15px 30px;
    color: #084B7D;
    background: #FFF;
    font-weight: 600;
    font-size: 13px;
}

.dash-sidebar-nav li.active a,
.dash-sidebar-nav li a:hover {
    background: #EEE;
    color: #084B7D;
    text-decoration: none;
}

.dash-sidebar-nav .title {
    font-weight: 900;
    font-size: 16px;
    padding: 15px;
}

/** MENU NAVBAR **/

.navbar-laravel {
    background-color: #FFF;
    height: 92px;
}

.logo-desktop {
    height: 62px;
    margin-left: 34px;
    margin-top: -25px;
}

.navbar-laravel .nav-link {
    color: #084B7D !important;
    font-size: 16px;
    margin: 0 4px 0 4px;
}

.nav-link.btn-login {
    color: #084B7D !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.menu-hamburguer {
    width: 45px;
    height: 45px;
    position: relative;
    padding: 10px 15px;
    color: #084B7D;
    cursor: pointer;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.menu-hamburguer label {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .3s linear;
    z-index: 2;
    cursor: pointer;
}

#check {
    display: none;
}

.label-hamburguer, .menu-hamburguer {
    cursor: pointer;
}

.menu-hamburguer .icon-menu {
    width: 30px;
    height: 4px;
    background-color: #084B7D;
    cursor: pointer;

    position: absolute;
    top: 18px;
    left: 10px;
    transition: all .3s linear;
}

.menu-hamburguer .icon-menu:before {
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    bottom: -9px;
    background-color: #084B7D;
    transition: all .3s linear;
}

.menu-hamburguer .icon-menu:after {
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    top: -9px;
    background-color: #084B7D;
    transition: all .3s linear;
}

#check:checked ~ label .menu-hamburguer .icon-menu {
    background-color: transparent;
}

#check:checked ~ label .menu-hamburguer .icon-menu:before {
    transform: translate(0px, -9px) rotate(-45deg);
}

#check:checked ~ label .menu-hamburguer .icon-menu:after {
    transform: translate(0px, 9px) rotate(45deg);
}

.title-menu {
    position: absolute;
    top: 35px;
    left: -4px;
    font-weight: bolder;
    font-size: 13px;
    color: #084B7D;
}

/* IPAD */
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .navbar-brand .logo-desktop,
    .btn-login{
        display: none !important;
    }
}

/* 540W */
@media (max-width: 34em) {

    .navbar-laravel {
        height: 76px !important;
    }

    .dash-sidebar {
        top: 79px !important;
        -webkit-overflow-scrolling: auto;
    }

    .dash-sidebar-nav {
        overflow: auto;
        height: 72%;
    }

    .carousel {
        margin-top: 32px !important;
    }

    .navbar-brand .logo-desktop {
        display: none !important;
    }

    .navbar-brand .logo-mobile {
        display: block !important;
        height: 62px;
        margin-right: -2px;
        position: absolute;
        top: 2px;
        right: 20px !important;
    }

    .title-menu {
        left: -8px;
        font-size: 14px;
    }

    .footer-logo-apex-brasil {
        margin-top: -140px;
        width: 320px;
    }
}
